* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
/* Body */
body {
    background: #f0f4f4;
}
/* menu */
nav {
    display: block;
    margin: auto;
    z-index: 2000;
    position: relative;
    top: 20px;
}
nav ul {
    display: block;
    width: fit-content;
    margin: auto;
    border-left: honeydew 1px solid;
    border-right: honeydew 1px solid;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    font-size: 23px;
}

nav ul li a:hover {
    text-decoration: none;
    color: #fff;
    background:#df72662f;
}
nav ul li a:active{
transition: 4s  ease-out;
}
.navbar-toggler{
    background:rgba(44, 44, 44, 0.274);
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    z-index: 700;
}
.collapse ul li a{
    color: #fff!important;
}
/* back to top */
.btt{
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    color:#5b5b5b8e;
    font-size: 50px;
    font-weight: 300;
    display: inline-block;
    position: fixed;
    z-index: 3000;
    bottom: 20px;
    right: 20px;
}
.btt:hover{
    color: #df72667a;
}
/* Header */
header {
    height: 70vh;
    background-image: linear-gradient(to bottom, hsla(25, 91%, 54%, 0.40) 0%, hsla(180, 20%, 50%, 0.4) 100%), url(img/header.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
}
/*Titulos del encabezado*/
.head {
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.titulo {
    font-size: 60px;
    padding: 0 30px;
    border-bottom: 4px double rgba(207, 206, 206, 0.5);
    margin-bottom: 15px;
}
.subt {
    font-weight: 300;
    font-size: 25px;
}
/* Galery title*/
.galery-title {
    margin: 0 0 30px 0;
    padding: 40px;
    background: #fff;
}
h2{
    color: #483949;
    font-size: 40px;
    line-height: 8vh;
    text-align: center;
}
h3 {
    color: #5B5B5B;
    font-size: 20px;
    line-height: 5vh;
    text-align: center;
}
/* SlideShow*/
.wrapper {
    width: 100%;
    padding-bottom: 30px;
}
.carousel {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}
.carousel .card {
    color: #483949;
    text-align: center;
    margin: 20px 0;
    line-height: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.carousel .card img {
    width: 350px;
    height: 300px;
}
.card h3 a{
    text-decoration: none;
    color: #483949;
}
.card h3 a:hover{
    color:#df7366;
}
.owl-dots {
    text-align: center;
    margin-top: 40px;
}
.owl-dot {
    height: 15px;
    width: 45px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid #5b5b5b !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover {
    background: #ef8276bb !important;
}
/* Big image */
.big-image {
    text-align: center;
    background: #fff;
    width: 80%;
    margin: auto;
}
.big-image img {
    height: 40%;
    width: 100%;
}
/* Article */
.bigbox {
    background: #fff;
    width: 100%;
    margin-bottom: 20px;
}
article {
    margin: 20px 0;
    width: 100%;
}
.red-button {
    margin: 35px;
    background: #df7366;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 5px;
}
.red-button a {
    color: #fff;
    text-decoration: none;
}
/* arma tu viaje */
.galery2Title {
    text-align: center;
    margin: 15px 0;
    padding-top: 10px;
}
/* images */
.galery2 {
    text-align: center;
}
.container2 {
    display: inline-block;
    width: 18em;
    background: #f0f4f4;
    text-align: center;
    margin: 2%;
    padding: 0 1em 3em 1em;
    white-space: normal;
}
.container2 img {
    height: 230px;
    width: 100%;
    margin-bottom: 1em;
}
.container2 a {
    color: #5b5b5b;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 26px;
}
.container2 a:hover {
    color: #ef8376;
    border-bottom-color: transparent;
}
.container2 p {
    text-align: center;
    color: #5b5b5b;
    margin-top: 20px;
    font-size: 18px;
}
/* social media */
.sMdiv {
    background: rgb(44, 44, 44);
    border-radius: 25px;
}
.sMdiv svg {
    margin: 10px;
    padding: 3px;
}
.sMdiv svg:hover {
    padding: 0px;
}
/* Terms and conditions */
.tyc a,
.tyc p {
    text-decoration: none;
    color: lightgray;
    text-align: center;
}
.tyc a:hover,
.tyc p:hover {
    color: #ef8376;
}
.h3sm{
    color:#fff;
    font-size: 28px;
}
/* modal */
.modalContainer {
    display: none;
    position: fixed;
    z-index: 5000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(42, 42, 42, 0.7);
}
.modalContainer .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-top: 10px solid #58abb7;
    width: 40%;
}
.modalContainer .close {
    color: #696969;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modalContainer .close:hover,
.modalContainer .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* pagina de redireccion */
.reLinkPage{
    width: 20%;
    height: 30px;
    background: rgba(212, 212, 212, 0.568);
    font-size: 16px;
    margin: 0 10px;
}
.tit{
    font-size: 60px;
    text-align: center;
    margin: 0px 0 20px 0;
    color: #483949;
}
.par, .par2{
    font-size: 22px;
    text-align: center;
    color: #483949;
}
#cont-blanco, #cont-blanco2{
background: #fff;
}
.panell{
    text-align: center;
    margin: 30px;
}
/* mailchimp */
#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 24px Helvetica, Arial, sans-serif;
}
